@charset "utf-8";
/* CSS Document */

#soft {background-color: #E0B0B0; color: #CC8383;  }
#soft2 {background-color: #CCAEAE; color: #F17B7B;  }
#softp {background-color: #CCAEAE ; color:  #CC8383; }

#strong{ background-color: #5ABCF9 ; color: #1871CF; }
#strong2{ background-color: #5AF9E3  ; color: #5ABCF9  ;  }
#strongp{  background-color: #1871CF ; color: #040957 ;  }

#elegant {background-color:#F7BFEE ; color: #F877E3 ;  }
#elegant2 {background-color:#F877E3 ; color:#FC4ADF ;  }
#elegantp {background-color:#FC4ADF  ; color:#FC03D4  ; }

#pop {background-color: #0AE823 ; color: #0AC41F;  }
#pop2 {background-color: #0AC41F  ; color: #0AE823;  }
#popp {background-color: #2AF841 ; color:#0BC320 ; }

#bright {background-color: #EDF96D ; color:#C8D820 ;  }
#bright2 {background-color:#E9F84B ; color:#E6FC06 ;  }
#brightp {background-color: #E6FC06  ; color: #EDF96D ; }

#dark {background-color: #212502; color:#0000 ;  }
#dark2 {background-color:#665004 ; color:#0000 ;  }
#darkp {background-color: #3E3413 ; color:#00000 ; }


#moody {background-color:#FC7A08 ; color:#E43313 ;  }
#moody2 {background-color:#F5BE57 ; color:#FC7A08 ;  }
#moodyp {background-color: #F57E57 ; color:#F5BE57  ; }

.color { margin:40px; padding: 20px
	}